@font-face{

    font-family: poppins;
    src:url(Poppins-Regular.ttf);
}
@font-face{

    font-family: poppins-Semibold;
    src:url(Poppins-SemiBold.ttf);
}
@font-face{

    font-family: poppins-Bold;
    src:url(Poppins-Bold.ttf);
}
@font-face{

    font-family: poppins-Medium;
    src:url(Poppins-Medium.ttf);
}

$boxShadowBar: 0 0 5px #7BC74D, 0 0 6px #7BC74D, 0 0 7px #7BC74D,
  0 0 8px #7BC74D, 0 0 9px #7BC74D, 0 0 10px #7BC74D, 0 0 20px #7BC74D,
  0 0 40px #7BC74D, 0 0 320px #7BC74D, 0 0 330px #7BC74D;
 
*{
    margin:0;
    padding:0;
    
}

:root {
    --cursorX: 0vw;
  }

 body{
     background-color: gray;
     height:90vh;
     width:100vh;
     overflow: hidden;
 }

 .logo{
     color: white;
     font-family:poppins-Bold;
     display: flex;
    //  margin-left:10%;
    padding-left: 180px;
    padding-top: 30px;
    font-size: 18px;


 }

 nav{
    position: absolute;
    width: 100%;
    height: 10vh;
    display: flex;
    justify-content: space-between;
    z-index: 99;
 }

 .nav-links{
     display: flex;
     justify-content: space-around;
     list-style:none;
     width:30%;
     font-family:poppins-Semibold;
     padding-right: 180px;
     padding-top: 30px;
     font-size: 16px;
 }
 .nav-links a{
    text-decoration: none;
    color: white;
}

 section {
    background: url("bgfull.PNG");
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    display: flex;
    align-items: center;
    .text-wrapper {
        position: absolute;
        padding-left: 450px;
        h4 {
          span {
            color: #7BC74D;
            text-shadow: 0 0 5px #7BC74D;
          }
          color: white;
          font-family:poppins-Bold ;
          font-size: 80px;
        }
        p {
          font-size: 20px;
          opacity: 0.7;
          padding: 40px 0px;
          color: #7bc74d;
          font-family:poppins-Medium;
          
        }
      }

 }

 .poly{

    background-repeat: no-repeat;
    overflow: hidden;
    transform: rotateY(60);
    padding-left:600px;
    padding-bottom:900px;
    // z-index:-1;


 }

 .overlay{
    width: 100%;
    height: 100%;
    position: fixed;
    background: radial-gradient(
      ellipse 100vmax 50vmax at var(--cursorX) 50vh,
      rgba(0, 0, 0, 0.5) 0%,
      rgba(0, 0, 0, 0.9) 100%
    );
    animation-name: fluctuate;
    animation-duration: 1s;
    animation-timing-function: ease-in-out;
 }

 @keyframes fluctuate {
    0% {
      background: radial-gradient(
        ellipse 100vmax 50vmax at var(--cursorX) 50vh,
        rgba(0, 0, 0, 0.9) 0%,
        rgba(0, 0, 0, 0.9) 100%
      );
    }
    20% {
      background: radial-gradient(
        ellipse 100vmax 50vmax at var(--cursorX) 50vh,
        rgba(0, 0, 0, 0.5) 0%,
        rgba(0, 0, 0, 0.9) 100%
      );
    }
    40% {
      background: radial-gradient(
        ellipse 100vmax 50vmax at var(--cursorX) 50vh,
        rgba(0, 0, 0, 0.9) 0%,
        rgba(0, 0, 0, 0.9) 100%
      );
    }
    100% {
      background: radial-gradient(
        ellipse 100vmax 50vmax at var(--cursorX) 50vh,
        rgba(0, 0, 0, 0.5) 0%,
        rgba(0, 0, 0, 0.9) 100%
      );
    }
  }

 .bar {
    position: absolute;
    left: 220px;
    height: 70%;
    width: 15px;
    border-radius: 10px;
    background-color: #fefbff;
    box-shadow: $boxShadowBar;
    z-index: 99;
    animation-name: fluctuateBar;
    animation-duration: 1s;
    animation-timing-function: ease-in-out;
  }

  
@keyframes fluctuateBar {
    0% {
      box-shadow: none;
    }
    20% {
      box-shadow: $boxShadowBar;
    }
    40% {
      box-shadow: none;
    }
    100% {
      box-shadow: $boxShadowBar;
    }
  }
  
  @media only screen and (max-width: 1320px){
    section {
      overflow: hidden;
      display: flex;
      align-items: center;
      justify-content: center;
      .text-wrapper {
        padding: 0;
      }
    }
  }

// nav a:before
// {
//     position: absolute;
//     top: 0px;
//     left: 0px;
//     width: 2px;
//     height: 0px;
//     background: #FFF;
//     content: "";
//     opacity: 1;
//     transition: all 0.3s;
// }

// nav a:after
// {
//     position: absolute;
//     top: 0px;
//     left: 0px;
//     width: 100%;
//     height: 2px;
//     background: #FFF;
//     content: "";
//     opacity: 1;
//     transition: all 0.3s;
// }

// nav a:hover:before
// {
//     height: 100%;
// }

// nav a:hover:after
// {
//     opacity: 0;
//     top: 100%;
// }

// li a:before, li a:after
// {
//     position: absolute;
//     opacity: 0;
//     font-size: 35px;
//     top: 0px;
//     transition: all 0.3s;
// }

// li a:before
// {
//     content: '(';
//     left: 0px;
//     transform: translateX(10px);
// }

// li a:after
// {
//     content: ')';
//     right: 0px;
//     transform: translateX(-10px);
// }

// li a:hover:before, li a:hover:after
// {
//     opacity: 1;
//     transform: translateX(0px);
// }